@import "./sass/utils/variable";
@import "./sass/utils/mixin";
@import "./sass/utils/keyframes";
@import "./sass/base/fonts";
@import "./sass/layout/footer";

* {
  box-sizing: border-box;
}

.chargement {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  animation: taille-div 1.5s;
  .spinner {
    width: 100px;
    height: 100px;
    border: 6px solid transparent;
    border-radius: 50%;
    animation: loading_spinner 1.4s linear;
  }
}

header {
  position: relative; /*placement fleche retour*/
}
body {
  margin: 0 auto;
  min-width: 375px;
  max-width: 1600px;
}

.image-titre {
  text-align: center;
  img {
    max-width: 40%;
    padding: 1% 0;
  }
  .fleche {
    font-size: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 5%;
    color: black;
    transition: all ease 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.localisation {
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  box-shadow: 0 -2px $ombre;
  input {
    outline: none;
    padding: 0 2%;
    border: 0px;
    background-color: inherit;
  }
}
.accueil {
  font-family: $texte;
  text-align: center;
  background-color: $fond;
  padding: 5em 20px;
  h1 {
    margin: 0;
  }
  p {
    margin: 40px 0;
  }
  @include boutongradient;
}
.fonctionnement {
  margin: 2em 3%;
  h2 {
    margin: auto 1em;
  }
  .bouton {
    position: relative;
    height: 100%;
    .numero {
      position: absolute;
      top: 50%;
      width: 26px;
      margin-top: -13px;
      height: 26px;
      padding: 4px;
      border-radius: 50%;
      background-color: $primaire;
      color: white;
      text-align: center;
    }
    .encart {
      display: flex;
      border: solid 1px rgb(218, 218, 218);
      border-radius: 18px;
      margin: 1em 1em;
      padding: 0 1em;
      box-shadow: 2px 5px 3px $ombre;
      .icone {
        margin: auto 15px auto 15px;
        color: grey;
      }
      p {
        .align {
          margin: auto 15px auto 15px;
        }
      }
      &:hover {
        background-color: lighten($primaire, 35%);
        box-shadow: 2px 5px 3px darken($ombre, 20%);
      }
    }
  }
}

.restaurant {
  background-color: $fond;
  padding: 3% 0;
  h2 {
    margin: 3%;
  }
  &__card {
    position: relative;
    background-color: white;
    box-shadow: 2px 5px 3px $ombre;
    height: 250px;
    margin: 3%;
    border-radius: 15px;
    overflow: hidden;
    transition: all ease 0.2s;
    &:hover {
      transform: scale(1.01);
      box-shadow: 2px 5px 3px darken($ombre, 20%);
    }
    a {
      text-decoration: none;
      color: black;
      @include horizontal;
    }
    img {
      width: 100%;
      height: 70%;
      object-fit: cover;
    }
    .nouveau {
      position: absolute;
      top: 5%;
      right: 5%;
      background-color: $tertiaire;
      color: darken($tertiaire, 45%);
      padding: 1% 2%;
    }
  }
}
/*position des coeurs vides et pleins l'un sur l'autre*/
.coeur {
  /*overflow: hidden;*/
  .coeurvide,
  .coeurplein {
    position: absolute;
    top: 50%;
    margin-top: -10.5px;
    right: 3%;
    font-size: 1.3em;
    transition: all 1s;
  }
  .coeurplein {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient($primaire, $secondaire);
    opacity: 0;
  }
  &:hover {
    .coeurvide {
      opacity: 0;
    }
    .coeurplein {
      opacity: 1;
    }
  }
}

.entete {
  position: relative;
  .chapeau {
    text-align: center;
    padding: 15px;
    background-color: $fond;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 60px 60px 0 0;
  }
  img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
}

.nom-restau-menu {
  background-color: $fond;
  position: relative;
  font-style: italic;
  h1 {
    margin: 0 3%;
    padding: 0.67em;
  }
}
.entree {
  animation: apparition 0.5s;
}
.plat {
  animation: apparition 1s;
}
.dessert {
  animation: apparition 1.5s;
}
.menu {
  background-color: $fond;
  h2 {
    margin: 1% 3%;
    border-bottom: 3px $tertiaire solid;
    width: 2em;
  }
  .nourriture {
    @include horizontal;
    margin: 0;
    padding: 2% 0;
    .horizontal {
      height: 80px;
      background-color: white;
      margin: 3%;
      border-radius: 15px;
      box-shadow: 2px 5px 3px $ombre;
      overflow: hidden;
      position: relative;

      &__responsive {
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-width: 0; /*solutionne bug entre flex et white-space:nowrap pour ellipsis*/
        .horizontal__position {
          display: flex;
          flex-direction: column;
          max-width: 80%;
          h3,
          p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .prix {
          font-weight: bold;
        }
      }
      .survol2 {
        right: -5em;
        width: 0em;
        height: 100%;
        position: relative;
        transition: all 0.5s;
        background-color: $tertiaire;

        i {
          color: white;
          font-size: 2em;
          transition: all 0.5s ease-out;
          position: absolute;
          top: 50%;
          margin-top: -16px;
          width: 100%;
          text-align: center;
        }
        /* bout code avec animation prix2
        right: 0;
        width: 0%;
        max-width: 5em;
        height: 100%;
        position: relative;
        */
      }
      &:hover {
        .survol2 {
          transform: translateX(-5em);
          width: 5em;
          i {
            transform: rotate(360deg);
          }
        }

        /* fonctionne mais animation prix2 coupe quand plus de survol
        .survol2 {
          animation: prix2 1s linear forwards;
          forwards pour pas que ça disparaisse tant que la souris est dessus i {
            transform: rotate(360deg);
          }
        }
        */
      }
    }
  }
}

.commande {
  @include boutongradient;
  text-align: center;
  margin: 3% auto 0 auto;
  padding: 40px 0 70px 0;
}

/*pas intéressant de mettre le footer en layout pour une seule page css c'est pour s'exercer*/
@include footer;

@media (min-width: $tablette) {
  .restaurant {
    &__position {
      display: flex;
      flex-wrap: wrap;
    }
    &__card {
      width: 45%;
      margin: 2% auto;
    }
  }
  .image-titre {
    .fleche {
      font-size: 30px;
      margin-top: -15px;
    }
  }
  footer {
    /*pour spécificité assez forte*/
    .titre-footer {
      text-align: center;
      font-size: 1.5em;
    }
  }

  .liens {
    display: flex;
    li {
      width: 25%;
      text-align: center;
    }
  }
}
@media (min-width: $ordi) {
  .fonctionnement {
    display: flex;
  }
  .bouton {
    width: 25%;
  }
  .image-titre {
    .fleche {
      font-size: 40px;
      margin-top: -20px;
    }
  }
  .menu {
    display: flex;
    justify-content: space-evenly;
  }
  .nourriture {
    width: 30%;
  }
}
