@charset "UTF-8";
/*couleurs*/
/*$tertiaire: #73ccd8;*/
/*test couleur*/
/*breakpoints*/
/*959px;*/
/*variable transitions*/
@-webkit-keyframes taille-div {
  from {
    height: 100vh;
  }
  to {
    height: 100vh;
  }
}
@keyframes taille-div {
  from {
    height: 100vh;
  }
  to {
    height: 100vh;
  }
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes loading_spinner {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    border-left: 6px double #9356dc;
    border-right: 6px double #ff79da;
    border-bottom: 6px double #99e2d0;
  }
  to {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
    border-left: 6px double #9356dc;
    border-right: 6px double #ff79da;
    border-bottom: 6px double #99e2d0;
  }
}

@keyframes loading_spinner {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    border-left: 6px double #9356dc;
    border-right: 6px double #ff79da;
    border-bottom: 6px double #99e2d0;
  }
  to {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
    border-left: 6px double #9356dc;
    border-right: 6px double #ff79da;
    border-bottom: 6px double #99e2d0;
  }
}

/*
@keyframes prix2 {
  0% {
    width: 0%;
    background-color: $tertiaire;
  }
  100% {
    width: 100%;
    background-color: $tertiaire;
  }
}
*/
/*polices*/
@font-face {
  font-family: "roboto regular";
  font-family: "shrikhand regular";
  src: url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.chargement {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  -webkit-animation: taille-div 1.5s;
          animation: taille-div 1.5s;
}

.chargement .spinner {
  width: 100px;
  height: 100px;
  border: 6px solid transparent;
  border-radius: 50%;
  -webkit-animation: loading_spinner 1.4s linear;
          animation: loading_spinner 1.4s linear;
}

header {
  position: relative;
  /*placement fleche retour*/
}

body {
  margin: 0 auto;
  min-width: 375px;
  max-width: 1600px;
}

.image-titre {
  text-align: center;
}

.image-titre img {
  max-width: 40%;
  padding: 1% 0;
}

.image-titre .fleche {
  font-size: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 5%;
  color: black;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.image-titre .fleche:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.localisation {
  background-color: #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  -webkit-box-shadow: 0 -2px lightgray;
          box-shadow: 0 -2px lightgray;
}

.localisation input {
  outline: none;
  padding: 0 2%;
  border: 0px;
  background-color: inherit;
}

.accueil {
  font-family: Roboto, Arial;
  text-align: center;
  background-color: #f1f1f1;
  padding: 5em 20px;
}

.accueil h1 {
  margin: 0;
}

.accueil p {
  margin: 40px 0;
}

.accueil a {
  color: white;
  text-decoration: none;
  border-radius: 30px;
  background: linear-gradient(178deg, #ff79da, #9356dc);
  padding: 15px 70px;
  -webkit-box-shadow: 2px 5px 3px #d4d3d3;
          box-shadow: 2px 5px 3px #d4d3d3;
}

.accueil a:hover {
  background: linear-gradient(178deg, #fface8, #ae80e5);
  -webkit-box-shadow: 2px 5px 3px #a29f9f;
          box-shadow: 2px 5px 3px #a29f9f;
}

.fonctionnement {
  margin: 2em 3%;
}

.fonctionnement h2 {
  margin: auto 1em;
}

.fonctionnement .bouton {
  position: relative;
  height: 100%;
}

.fonctionnement .bouton .numero {
  position: absolute;
  top: 50%;
  width: 26px;
  margin-top: -13px;
  height: 26px;
  padding: 4px;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
  text-align: center;
}

.fonctionnement .bouton .encart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 1px #dadada;
  border-radius: 18px;
  margin: 1em 1em;
  padding: 0 1em;
  -webkit-box-shadow: 2px 5px 3px lightgray;
          box-shadow: 2px 5px 3px lightgray;
}

.fonctionnement .bouton .encart .icone {
  margin: auto 15px auto 15px;
  color: grey;
}

.fonctionnement .bouton .encart p .align {
  margin: auto 15px auto 15px;
}

.fonctionnement .bouton .encart:hover {
  background-color: #f2eafb;
  -webkit-box-shadow: 2px 5px 3px #a0a0a0;
          box-shadow: 2px 5px 3px #a0a0a0;
}

.restaurant {
  background-color: #f1f1f1;
  padding: 3% 0;
}

.restaurant h2 {
  margin: 3%;
}

.restaurant__card {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 2px 5px 3px lightgray;
          box-shadow: 2px 5px 3px lightgray;
  height: 250px;
  margin: 3%;
  border-radius: 15px;
  overflow: hidden;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.restaurant__card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 2px 5px 3px #a0a0a0;
          box-shadow: 2px 5px 3px #a0a0a0;
}

.restaurant__card a {
  text-decoration: none;
  color: black;
}

.restaurant__card a .horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
  position: relative;
}

.restaurant__card a .horizontal__position h3,
.restaurant__card a .horizontal p {
  margin: 8px;
}

.restaurant__card a .horizontal .prix {
  margin: auto 2% 1em 0;
}

.restaurant__card img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant__card .nouveau {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: #99e2d0;
  color: #217460;
  padding: 1% 2%;
}

/*position des coeurs vides et pleins l'un sur l'autre*/
.coeur {
  /*overflow: hidden;*/
}

.coeur .coeurvide,
.coeur .coeurplein {
  position: absolute;
  top: 50%;
  margin-top: -10.5px;
  right: 3%;
  font-size: 1.3em;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.coeur .coeurplein {
  color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(#9356dc, #ff79da);
  opacity: 0;
}

.coeur:hover .coeurvide {
  opacity: 0;
}

.coeur:hover .coeurplein {
  opacity: 1;
}

.entete {
  position: relative;
}

.entete .chapeau {
  text-align: center;
  padding: 15px;
  background-color: #f1f1f1;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 60px 60px 0 0;
}

.entete img {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.nom-restau-menu {
  background-color: #f1f1f1;
  position: relative;
  font-style: italic;
}

.nom-restau-menu h1 {
  margin: 0 3%;
  padding: 0.67em;
}

.entree {
  -webkit-animation: apparition 0.5s;
          animation: apparition 0.5s;
}

.plat {
  -webkit-animation: apparition 1s;
          animation: apparition 1s;
}

.dessert {
  -webkit-animation: apparition 1.5s;
          animation: apparition 1.5s;
}

.menu {
  background-color: #f1f1f1;
}

.menu h2 {
  margin: 1% 3%;
  border-bottom: 3px #99e2d0 solid;
  width: 2em;
}

.menu .nourriture {
  margin: 0;
  padding: 2% 0;
}

.menu .nourriture .horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
  position: relative;
}

.menu .nourriture .horizontal__position h3,
.menu .nourriture .horizontal p {
  margin: 8px;
}

.menu .nourriture .horizontal .prix {
  margin: auto 2% 1em 0;
}

.menu .nourriture .horizontal {
  height: 80px;
  background-color: white;
  margin: 3%;
  border-radius: 15px;
  -webkit-box-shadow: 2px 5px 3px lightgray;
          box-shadow: 2px 5px 3px lightgray;
  overflow: hidden;
  position: relative;
}

.menu .nourriture .horizontal__responsive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-width: 0;
  /*solutionne bug entre flex et white-space:nowrap pour ellipsis*/
}

.menu .nourriture .horizontal__responsive .horizontal__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 80%;
}

.menu .nourriture .horizontal__responsive .horizontal__position h3,
.menu .nourriture .horizontal__responsive .horizontal__position p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu .nourriture .horizontal__responsive .prix {
  font-weight: bold;
}

.menu .nourriture .horizontal .survol2 {
  right: -5em;
  width: 0em;
  height: 100%;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #99e2d0;
  /* bout code avec animation prix2
        right: 0;
        width: 0%;
        max-width: 5em;
        height: 100%;
        position: relative;
        */
}

.menu .nourriture .horizontal .survol2 i {
  color: white;
  font-size: 2em;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  width: 100%;
  text-align: center;
}

.menu .nourriture .horizontal:hover {
  /* fonctionne mais animation prix2 coupe quand plus de survol
        .survol2 {
          animation: prix2 1s linear forwards;
          forwards pour pas que ça disparaisse tant que la souris est dessus i {
            transform: rotate(360deg);
          }
        }
        */
}

.menu .nourriture .horizontal:hover .survol2 {
  -webkit-transform: translateX(-5em);
          transform: translateX(-5em);
  width: 5em;
}

.menu .nourriture .horizontal:hover .survol2 i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.commande {
  text-align: center;
  margin: 3% auto 0 auto;
  padding: 40px 0 70px 0;
}

.commande a {
  color: white;
  text-decoration: none;
  border-radius: 30px;
  background: linear-gradient(178deg, #ff79da, #9356dc);
  padding: 15px 70px;
  -webkit-box-shadow: 2px 5px 3px #d4d3d3;
          box-shadow: 2px 5px 3px #d4d3d3;
}

.commande a:hover {
  background: linear-gradient(178deg, #fface8, #ae80e5);
  -webkit-box-shadow: 2px 5px 3px #a29f9f;
          box-shadow: 2px 5px 3px #a29f9f;
}

/*pas intéressant de mettre le footer en layout pour une seule page css c'est pour s'exercer*/
footer {
  color: white;
  background-color: #2f2f2f;
  padding: 1% 0%;
  margin-bottom: 1%;
}

footer .titre-footer {
  margin: 0 3%;
  padding: 1% 0;
  font-family: Shrikhand, Arial;
  letter-spacing: 3px;
  font-size: 1em;
}

footer .liens {
  list-style: none;
  padding: 0 3%;
}

footer .liens li {
  margin: 5px 0;
}

footer .liens a {
  text-decoration: none;
  color: white;
}

footer .liens a i {
  width: 16px;
  height: 20px;
  margin-right: 15px;
}

footer .liens a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .restaurant__position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurant__card {
    width: 45%;
    margin: 2% auto;
  }
  .image-titre .fleche {
    font-size: 30px;
    margin-top: -15px;
  }
  footer {
    /*pour spécificité assez forte*/
  }
  footer .titre-footer {
    text-align: center;
    font-size: 1.5em;
  }
  .liens {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .liens li {
    width: 25%;
    text-align: center;
  }
}

@media (min-width: 1148px) {
  .fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bouton {
    width: 25%;
  }
  .image-titre .fleche {
    font-size: 40px;
    margin-top: -20px;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .nourriture {
    width: 30%;
  }
}
/*# sourceMappingURL=main.css.map */