@import "./sass/utils/variable";
@import "./sass/utils/mixin";
@import "./sass/utils/keyframes";
@import "./sass/base/fonts";
@import "./sass/layout/footer";

* {
  box-sizing: border-box;
}

.chargement {
  width: 100%;
  height: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: green;
  .lettre {
    font-size: 100px;
    animation: load2 2s linear;
    /*
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation-name: load2;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    */
    &:nth-child(1) {
      animation-delay: 0.1s;
    }
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.3s;
    }
    &:nth-child(4) {
      animation-delay: 0.4s;
    }
    &:nth-child(5) {
      animation-delay: 0.5s;
    }
    &:nth-child(6) {
      animation-delay: 0.6s;
    }
    &:nth-child(7) {
      animation-delay: 0.7s;
    }
    &:nth-child(8) {
      animation-delay: 0.8s;
    }
    &:nth-child(9) {
      animation-delay: 0.9s;
    }
    &:nth-child(10) {
      animation-delay: 1s;
    }
  }
}

header {
  position: relative;
}
body {
  margin: 0 auto;
  min-width: 375px;
  max-width: 1600px;
}
.entete {
  position: relative;
}
.entete img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.chapeau {
  text-align: center;
  padding: 15px;
  background-color: rgb(241, 241, 241);
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 60px 60px 0 0;
}

.abc {
  height: 10%;
  position: relative;
  .fleche {
    font-size: 4vw;
    position: absolute;
    top: 20%;
    left: 5%;
    color: black;
  }
}
.image-titre {
  text-align: center;
  padding: 1% 0;
  img {
    max-width: 40%;
  }
}
.localisation {
  background-color: rgb(221, 221, 221);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  input {
    outline: none;
    padding: 0 2%;
    border: 0px;
    background-color: inherit;
  }
}
.accueil {
  font-family: $texte;
  text-align: center;
  background-color: rgb(241, 241, 241);
  padding: 40px 20px;
  h1 {
    margin: 0;
  }
  p {
    margin: 40px 0;
  }
  @include boutongradient;
}
.fonctionnement {
  margin: 0 3%;
  h2 {
    padding: 0 px;
  }
  .bouton {
    position: relative;
    height: 100%;
    .numero {
      position: absolute;
      top: 24%;
      width: 26px;
      height: 26px;
      padding: 4px;
      border-radius: 50%;
      background-color: $primaire;
      color: white;
      text-align: center;
    }
    .encart {
      display: flex;
      border: solid 1px rgb(218, 218, 218);
      border-radius: 18px;
      margin-bottom: 40px;
      margin-left: 1em;
      padding: 0 1em;
      box-shadow: 2px 5px 3px rgb(212, 211, 211);
      .icone {
        margin: auto 15px auto 15px;
        color: grey;
      }
      p {
        .align {
          margin: auto 15px auto 15px;
        }
      }
      &:hover {
        background-color: lighten($primaire, 35%);
        box-shadow: 2px 5px 3px darken(rgb(212, 211, 211), 20%);
      }
    }
  }
}
.restaurant {
  background-color: rgb(241, 241, 241);
  padding: 3% 0;
  h2 {
    margin: 3%;
  }
  &__card {
    position: relative;
    background-color: white;
    box-shadow: 2px 5px 3px rgb(212, 211, 211);
    height: 250px;
    margin: 3%;
    border-radius: 15px;
    overflow: hidden;
    a {
      text-decoration: none;
      color: black;
      @include horizontal;
    }
  }
  &__card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }
}
/*position des coeurs vides et pleins l'un sur l'autre*/
.coeurvide,
.coeurplein {
  position: absolute;
  top: 35%;
  right: 3%;
}

.coeurplein {
  color: transparent;
}
.coeur:hover {
  .coeurvide {
    transition: all 2s;
    color: transparent;
  }
  .coeurplein {
    transition: all 2s;
    color: purple;
  }
}

.menu {
  background-color: rgb(241, 241, 241);
  .titre {
    position: relative;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: space-between;
    font-style: italic;
    h1 {
      margin: 3%;
    }
    i {
      margin: auto 3% auto 0;
    }
  }
  h2 {
    margin: 1% 3%;
    border-bottom: 3px $tertiaire solid;
    width: 2em;
  }
  @include boutongradient;
  .commande {
    text-align: center;
    margin: 3% auto 0 auto;
    padding: 40px 0 70px 0;
  }
}

.entree {
  animation: apparition 300ms;
}
.plat {
  animation: apparition 600ms;
}
.dessert {
  animation: apparition 900ms;
}

.nourriture {
  @include horizontal;
  margin: 2% 0;
  .horizontal {
    height: 80px;
    background-color: white;
    margin: 3%;
    border-radius: 15px;
    box-shadow: 2px 5px 3px rgb(212, 211, 211);
    overflow: hidden;
    position: relative;

    &__responsive {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .horizontal__position {
        width: 80%;
        h3,
        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .survol2 {
      right: 0;
      width: 0%;
      max-width: 25%;
      height: 100%;
      position: relative;
      i {
        color: white;
        font-size: 2em;
      }
    }
    &:hover {
      .survol2 {
        animation: prix2 1s linear forwards;
        i {
          position: absolute;
          top: 25%;
          width: 100%;
          text-align: center;
          transform: rotate(360deg);
          transition: all 0.5s;
        }
      }
    }
  }
}

.nouveau {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: $tertiaire;
  color: darken($tertiaire, 45%);
  padding: 1% 2%;
}

/*pas intéressant de mettre le footer en layout pour une seule page css sauf pour s'exercer*/
@include footer;

@media (min-width: $tablette) {
  .restaurant {
    &__position {
      display: flex;
      flex-wrap: wrap;
    }
    &__card {
      width: 45%;
      margin: 2% auto;
    }
  }
  .titre-footer {
    text-align: center;
  }
  .liens {
    display: flex;
    li {
      width: 25%;
      text-align: center;
    }
  }
}
@media (min-width: $ordi) {
  /*rien pour le moment*/
}
