/*polices*/
@font-face {
  font-family: "roboto regular";
  font-family: "shrikhand regular";
  src: url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
}
$titre: Shrikhand, arial;
$texte: Roboto, Arial;
