@keyframes load {
  0% {
    background-color: white;
    color: transparent;
    z-index: 3;
  }
  90% {
    background-color: white;
    color: green;
    z-index: 3;
  }
  100% {
    background-color: white;
    color: transparent;
  }
}

@keyframes move {
  0% {
    transform: translatey(-9999px);
  }
  100% {
    transform: translatey(0);
  }
  /* autre idée pour ne pas voir le texte en dessous du chargement en cas de scroll
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
  */
}
