@keyframes load {
  0% {
    color: transparent;
    font-size: 6vw;
  }

  50% {
    color: $primaire;
    font-size: 6vw;
  }
  100% {
    color: transparent;
    font-size: 6vw;
  }
  /*
  100% {
    color: $secondaire;
    font-size: 100px;
  }
  */
}
@keyframes taille-div {
  /*0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  95% {
    z-index: 4;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }*/
  from {
    height: 100vh;
  }
  to {
    height: 100vh;
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes prix2 {
  from {
    width: 0%;
    background-color: $tertiaire;
  }
  to {
    width: 100%;
    background-color: $tertiaire;
  }
}
