@keyframes load {
  0% {
    color: transparent;
  }
  50% {
    color: green;
  }
  100% {
    color: transparent;
  }
}

@keyframes load2 {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translatex(100%);
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes prix2 {
  from {
    width: 0%;
    background-color: $tertiaire;
  }
  to {
    width: 100%;
    background-color: $tertiaire;
  }
}
