@mixin horizontal {
  .horizontal {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    position: relative;
    &__position h3,
    p {
      margin: 8px;
    }
    .coeur {
      margin: auto 2%;
    }
    .prix {
      margin: auto 2% 8px 0;
    }
  }
}

@mixin boutongradient {
  a {
    color: white;
    text-decoration: none;
    border-radius: 30px;
    background: linear-gradient($secondaire, $primaire);
    padding: 15px;
    z-index: 2;
  }
}
@mixin chargement {
  .chargement {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: transparent;
    animation: load 2s;
  }
}
