@mixin horizontal {
  .horizontal {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    position: relative;
    &__position h3,
    p {
      margin: 8px;
    }
    .prix {
      margin: auto 2% 8px 0;
    }
  }
}

@mixin boutongradient {
  a {
    color: white;
    text-decoration: none;
    border-radius: 30px;
    background: linear-gradient($secondaire, $primaire);

    padding: 15px 70px;
    box-shadow: 2px 5px 3px rgb(212, 211, 211);
  }
  a:hover {
    $prim-clair: lighten($primaire, 10%);
    $sec-clair: lighten($secondaire, 10%);
    background: linear-gradient($sec-clair, $prim-clair);
    box-shadow: 2px 5px 3px darken(rgb(212, 211, 211), 20%);
  }
}
